<!DOCTYPE html>
<html>
<head>
    <title>Portfolio Maxence BOYER - Compétences</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        .niveau-1 { background-color: #ffdddd; } /* Rouge clair */
        .niveau-2 { background-color: #ffffcc; } /* Jaune clair */
        .niveau-3 { background-color: #ddffdd; } /* Vert clair */
        .niveau-4 { background-color: #ccffcc; } /* Vert très clair */
    </style>
</head>
<body>

    <h1>Portfolio Maxence BOYER - Compétences</h1>

    <table>
        <thead>
            <tr>
                <th rowspan="2"></th>
                <th rowspan="2">Compétences</th>
                <th rowspan="2">Apprentissages critiques</th>
                <th colspan="4">Niveau d'acquisition</th>
                <th rowspan="2">Preuves (lien vers les pièces justificatifs)</th>
                <th rowspan="2">Analyse réflexive (lien vers les pièces justificatifs)</th>
            </tr>
            <tr>
                <th>1/4</th>
                <th>2/4</th>
                <th>3/4</th>
                <th>4/4</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td rowspan="7">RT1</td>
                <td rowspan="7">Administrer les réseaux et l'Internet</td>
                <td>AC1.01 Maîtriser les lois fondamentales de l'électricité afin d'intervenir sur des équipements de réseaux et télécommunications</td>
                <td class="niveau-1"></td>
                <td>R1.14</td>
                <td>R1.04</td>
                <td>SAE1.02</td>
                <td>AC11.01</td>
                <td>AC11.01</td>
            </tr>
            <tr>
                <td>AC1.02 Comprendre l'architecture et les fondements des systèmes numériques, les principes du codage de l'information, des communications et de l'Internet</td>
                <td></td>
                <td>R1.06<br>SAE1.02</td>
                <td>SAE1.01</td>
                <td></td>
                <td>AC11.02</td>
                <td>AC11.02</td>
            </tr>
            <tr>
                <td>AC1.03 Configurer les fonctions de base du réseau local</td>
                <td></td>
                <td>R1.03</td>
                <td>R1.01b<br>SAE1.02</td>
                <td>SAE1.02</td>
                <td>AC11.03</td>
                <td>AC11.03</td>
            </tr>
            <tr>
                <td>AC1.04 Maîtriser les rôles et les principes fondamentaux des systèmes d'exploitation afin d'interagir avec ceux-ci pour la configuration et l'administration des réseaux et services fournis</td>
                <td></td>
                <td>R1.06<br>SAE1.01</td>
                <td>SAE1.02</td>
                <td></td>
                <td>AC11.04</td>
                <td>AC11.04</td>
            </tr>
            <tr>
                <td>AC1.05 Savoir identifier les dysfonctionnements du réseau local</td>
                <td></td>
                <td>R1.03</td>
                <td>R1.01b<br>SAE1.01<br>SAE1.02</td>
                <td></td>
                <td>AC11.05</td>
                <td>AC11.05</td>
            </tr>
            <tr>
                <td>AC1.06 Installer un poste client, expliquer la procédure mise en place</td>
                <td></td>
                <td>R1.01b<br>R1.08</td>
                <td>R1.03<br>SAE1.02</td>
                <td></td>
                <td>AC11.06</td>
                <td>AC11.06</td>
            </tr>
            <tr>
                <td>AC1.07 Mesurer et analyser les signaux</td>
                <td></td>
                <td>R1.14<br>R1.05</td>
                <td>R1.04</td>
                <td></td>
                <td>AC12.01</td>
                <td>AC12.01</td>
            </tr>
            <tr>
                <td rowspan="4">RT2</td>
                <td rowspan="4">Connecter les entreprises et les usagers</td>
                <td>AC12.01 Concevoir des systèmes de transmissions élémentaires et découvrir la modélisation mathématique de leur fonctionnement</td>
                <td></td>
                <td>R1.14</td>
                <td></td>
                <td></td>
                <td>AC12.02</td>
                <td>AC12.02</td>
            </tr>
            <tr>
                <td>AC12.03 Déployer des supports de transmission</td>
                <td></td>
                <td>R1.03<br>R1.01b</td>
                <td>R1.05</td>
                <td></td>
                <td>AC12.03</td>
                <td>AC12.03</td>
            </tr>
            <tr>
                <td>AC12.04 Connecter les systèmes de VoIP (Voice over IP), de visioconférence, de messagerie collaborative, (...) et adapter son discours et sa langue à son interlocuteur</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>AC12.04</td>
                <td>AC12.04</td>
            </tr>
            <tr>
                <td>AC12.05</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>AC12.05</td>
                <td>AC12.05</td>
            </tr>
            <tr>
                <td rowspan="6">RT3</td>
                <td rowspan="6">Créer des outils et des applications informatiques pour les R&T</td>
                <td>AC13.01 Utiliser un système informatique et ses outils</td>
                <td></td>
                <td>R1.03</td>
                <td>R1.01b<br>R1.06<br>R1.08<br>SAE1.04</td>
                <td></td>
                <td>AC13.01</td>
                <td>AC13.01</td>
            </tr>
            <tr>
                <td>AC13.02 Lire, exécuter, corriger et modifier un programme</td>
                <td></td>
                <td></td>
                <td>R1.08<br>SAE1.04</td>
                <td></td>
                <td>AC13.02</td>
                <td>AC13.02</td>
            </tr>
            <tr>
                <td>AC13.03 Traduire un algorithme, dans un langage et pour un environnement donné</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>AC13.03</td>
                <td>AC13.03</td>
            </tr>
            <tr>
                <td>AC13.04 Comprendre l'architecture et les technologies d'un site Web</td>
                <td></td>
                <td></td>
                <td>SAE1.04</td>
                <td></td>
                <td>AC13.04</td>
                <td>AC13.04</td>
            </tr>
            <tr>
                <td>AC13.05 Choisir les mécanismes de gestion de données adaptés au développement de l'outil et argumenter ses choix</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>AC13.05</td>
                <td>AC13.05</td>
            </tr>
            <tr>
                <td>AC13.06 Développer une interface homme-machine propre au développement et au travail collaboratif</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>AC13.06</td>
                <td>AC13.06</td>
            </tr>
        </tbody>
    </table>

</body>
</html>